<?xml version="1.0"?>
<!--
/**
 * MageClone MagentoMigrator Module Declaration
 *
 * @category  MageClone
 * @package   MageClone_MagentoMigrator
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageClone_MagentoMigrator" setup_version="1.0.0">
        <sequence>
            <module name="Magento_GraphQl"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Cms"/>
        </sequence>
    </module>
</config>
